html,
body {
  background-color: #222222 !important;
  color: #e0e0e0 !important;
}

.page__content,
.masthead,
.site-header,
.page__footer {
  background-color: #222222 !important;
}

a {
  color: #f5a623 !important;
}
